.cart-item{
    background-color: aliceblue;
    margin: 12px;
    padding-top: 7px;
    box-shadow: 3px 4px 9px -6px black;
}


.dish-img-name-rate{
    padding: 0px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-img{
    height: 60px;
    /* transform: scale(5.5); */
    width: 60px;
    background-color: aqua;
}


.dish-name{
    font-size: 27px;
    margin-left: -32px;
    font-weight: 600;
}

.dish-rate{
    color: green;
    font-weight: 600;
}

.btns{
    display: flex;
    justify-content: space-around;
    height: 60px;
}
.operations{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.opr-btns{
    
    transform: scale(1.5);
}

.del-btn{
    transform: scale(1);
}

