.navbar{
    height: 70px;
    padding: 40px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: rgba(136, 15, 15, 0.2);
    
}

.cart{
    width: 424px;
    height: 402px;
    padding: 1px 11px;
}

.cartEmpty{
    background-image: url('EmptyCart.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 402px;
}
